* {
  font-family: sans-serif;
}

.box {
  margin: 0 auto;
  width: 80vw;
  height: 70vh;
  border: 1px solid lightgray;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.quadrant {
  width: 50%;
  height: 50%;
  border: 1px solid grey;
  box-sizing: border-box;
}

.legend {
  border: 1px solid lightgray;
  margin: 8px;
  background-color: rgb(240,240,240);
}

.legend__items {
  display: flex;
  justify-content: space-evenly;
}

.legend__item {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.click-point {
  border-radius: 50%;
  width: 4px;
  height: 4px;
  background-color: grey;
  transform: translate(-50%, -50%);
}

.click-point--big {
  width: 8px;
  height: 8px;
  background-color: red;
}

.click-point--blue {
  background-color: blue;
}
